.App {
  display: flex;
  justify-content: center;
  /* background-color: aquamarine; */
  height: 50rem;
  background-image: url(./beer.jpg); 
  background-color: transparent;
  background-position: center;
  
  
}

.column{
  align-self: center;
  
}